<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estamos buscando: {{nombre}}</p>
    {% if primas %}

    <ul>
        {% for prima in primas %}
        <li>{{prima.nombre}}</li>
        <li>{{prima.edad}}</li>
        <li>{{prima.fechadenacimiento}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay datos con esa descripción.</p>

    {% endif %}
</body>
</html>